* {
    padding: 8px;
    margin: 10px;
}

h1 {
text-align: center;
}

.uno {
    background-color: rgb(208, 208, 208);
}

.dos {
    background-color: rgb(208, 208, 208);
}

.tres {
    background-color: rgb(208, 208, 208);
}

.cuatro {
    background-color: rgb(208, 208, 208);
}